{% load static %}
<!doctype html>
<html lang="fr" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Produits</title>
    <link rel="icon" href="{{ entete.logo.url }}" type="image/png">
    <link rel="stylesheet" href="{% static 'produits/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img src="{{ entete.logo.url }}" alt="Logo Tasly Togo" height="40" width="40">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'accueil' %}" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="{% url 'Produitdetails' %}" class="nav-link px-2 text-secondary">Produits</a></li>
              <li><a href="{% url 'services' %}" class="nav-link px-2 text-white">Services</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="display: flex;">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" name="product-search">
              <div class="text-end">
                <button type="submit" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg></button>
              </div>
            </form>
          </div>
        </div>
    </header>
    <main>
      <div class="container col-xxl-10 px-4 py-5">
          {% for produit in produits %}
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5" id="{{ produit.id }}">
              <div class="col-10 col-sm-8 col-lg-6">
                  <a href="{{ produit.img.url }}"><img src="{{ produit.img.url }}" class="d-block mx-lg-auto img-fluid" alt="{{ produit.nom }}" width="500" height="300" loading="lazy"></a>
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ produit.nom }}</h1>
                <button class="btn btn-light rounded-pill px-3" type="button">{{ produit.prix }} FCFA</button>
                <p class="lead" style="text-align: justify">
                    {{ produit.description|linebreaks }}
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <a href="{% url 'prod_paiements' produit.id %}"><button class="btn btn-danger rounded-pill px-3" type="button">Commander</button></a>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </main>
  </body>
</html>