{% load static %}
<!doctype html>
<html lang="fr" data-bs-theme="auto">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Paiement</title>
        <link rel="icon" href="{{ entete.logo.url }}" type="image/png">
        <link rel="stylesheet" href="{% static 'produits/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'produits/checkout.css' %}">
      </head>
  <body class="bg-body-tertiary">
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img src="{{ entete.logo.url }}" alt="Logo Tasly Togo" height="40" width="40">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'accueil' %}" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-secondary">Paiement</a></li>
              <li><a href="{% url 'Produitdetails' %}" class="nav-link px-2 text-white">Produits</a></li>
            </ul>
          </div>
        </div>
      </header>
      
      <div class="container">
      
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="{{ service.img.url }}" alt="" width="72" height="57">
          <button class="btn btn-light rounded-pill px-3" type="button">{{ service.nom }}</button>
          <button class="btn btn-success rounded-pill px-3" type="button">{{ service.prix }} FCFA</button>
          <h2>Formulaire de Réservation</h2>
          <p class="lead">Veillez remplire le formulaire ci dessous pour finaliser votre réservation. Nous prendrons contact avec vous à partie des informations fournis pour valider votre réservation</p>
        </div>
          
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Vos informations</h4>
            <form class="needs-validation" action="" method='post' novalidate>
              {% csrf_token %}
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="s_nom" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="s_nom" placeholder="Jean" value="" name="s_nom">
                  {% if form.s_nom.errors %}
                       <div class="text-danger">
                           {% for error in form.s_nom.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
    
                <div class="col-sm-6">
                  <label for="s_prenom" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="s_prenom" placeholder="Dupont" value="" name="s_prenom">
                  {% if form.s_prenom.errors %}
                       <div class="text-danger">
                           {% for error in form.s_prenom.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
    
                <div class="col-12">
                  <label for="s_contact" class="form-label">Téléphone</label>
                  <input type="tel" class="form-control" id="s_contact" placeholder="+22912345678" name="s_contact">
                  {% if form.s_contact.errors %}
                       <div class="text-danger">
                           {% for error in form.s_contact.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
                  
                <div class="col-12">
                  <label for="s_date_service" class="form-label"> Date & Heur du rendez vous</label>
                  <input type="datetime-local" class="form-control" id="s_date_service" placeholder="" name="s_date_service">
                  {% if form.s_date_service.errors %}
                       <div class="text-danger">
                           {% for error in form.s_date_service.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
    
                <div class="col-md-5">
                  <label for="s_pays" class="form-label">Pays</label>
                  <input type="text" id="s_pays" class="form-control" placeholder="Bénin" name="s_pays">
                  {% if form.s_pays.errors %}
                       <div class="text-danger">
                           {% for error in form.s_pays.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
    
                <div class="col-md-4">
                  <label for="s_ville" class="form-label">Ville</label>
                  <input type="text" class="form-control" id="s_ville" placeholder="Cotonou" name="s_ville">
                  {% if form.s_ville.errors %}
                       <div class="text-danger">
                           {% for error in form.s_ville.errors %}
                               <p>{{ error }}</p>
                           {% endfor %}
                       </div>
                  {% endif %}
                </div>
              </div>
                
              <div class="row gy-3" style="display: none">
                <div class="col-md-6">
                  <label for="s_services" class="form-label">Service</label>
                  <input type="hidden" class="form-control" id="s_services" placeholder="" value="{{ service.nom }}" name="s_services">
                </div>
    
                <div class="col-md-6">
                  <label for="s_prix" class="form-label">Prix</label>
                  <input type="hidden" class="form-control" id="s_prix" placeholder="" value="{{ service.prix }}" name="s_prix">
                </div>
              </div>
    
              <hr class="my-4">
                <input class="w-100 btn btn-primary btn-lg" type="submit" value="Réserver">
            </form>
          </div>
      </main>
    </div>
  </body>
</html>
